<h1>Chess</h1>
<div class="containerChess">
  <table>
    <tr *ngFor="let row of sizeBoard">
      <td
        *ngFor="let col of sizeBoard"
        [class.black]="(row + col) % 2 == 1"
        [style.color]="getPieceColor(row, col)"
        cdkDropList
        [cdkDropListData]="{row, col}"
        (cdkDropListDropped)="move($event)"
      >
        <div class="piece" cdkDrag [cdkDragData]="{row, col}">
          {{ displayPiece(row, col) }}
        </div>
      </td>
    </tr>
  </table>
</div>
